.single {
    padding: 2px 26px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    text-decoration: none;
}

.single:hover {
    border-left: 8px solid #4979ff;
    cursor: pointer;

}

.link {
    text-decoration: none;
    color: rgb(38, 34, 34);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}